body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.site-list-box>div:first-child>*:not(.MuiIconButton-root) {
  display: none;
}
.site-list-box.batch-edit>div:first-child>*:not(.MuiIconButton-root) {
  display: inline-flex;
}
.site-list-box .site-icon>span {
  display: none;
  float: left;
  position: absolute;
  z-index: 1;
}
.site-list-box .site-icon>span>svg {
  background: white;
}
.jse-theme-dark>.jse-main div.jse-menu {
  background: black;
  border-bottom: 1px solid #747474;
}
.site-list-box.batch-edit .site-icon>span {
  display: inline-flex;
}
@media screen and (max-width: 600px) {
  #root>.MuiBox-root {
    margin-left: 0px;
  }
  #root>.MuiBox-root>.MuiList-root {
    height: 64px;
    z-index: 9;
    width: 100%;
    max-width: unset;
    overflow: hidden;
  }
  #root>.MuiBox-root>[role="tabpanel"] {
    margin-top: 88px;
  }
  #root>.MuiBox-root>.MuiList-root:not(.hide):hover {
    height: unset;
  }
  #root>.MuiBox-root>.MuiList-root:not(.hide):hover~div {
    margin-top: 295px;
  }
  #root>.MuiBox-root>.MuiList-root:not(.hide):hover a {
    pointer-events: none;
  }
}
.selectTxt>i,span.selectTxt {
  background: #f3533a!important;
}
.selectImg>i,span.selectImg {
  background: #fa9f42!important;
}
.selectLink>i,span.selectLink {
  background: #8ad879!important;
}
.selectPage>i,span.selectPage {
  background: #5acfc9!important;
}

.selectTxt .site-icon:nth-child(-n+6) {
  background: #f3533a10!important;
}
.selectImg .site-icon:nth-child(-n+6) {
  background: #fa9f4210!important;
}
.selectLink .site-icon:nth-child(-n+6) {
  background: #8ad87910!important;
}
.selectPage .site-icon:nth-child(-n+6) {
  background: #5acfc910!important;
}

.hideIcon>i,.hideIcon>div {
  opacity: 0.3;
}

span.selectTxt,
span.selectImg,
span.selectLink,
span.selectPage {
  color: white;
  margin: 10px;
  padding: 3px 10px;
  border-radius: 5px;
  font-size: large;
  user-select: none;
  cursor: pointer;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
}
.selectTxt.selectImg>i {
  background: linear-gradient(45deg, #f3533a 0%, #f3533a 50%, #fa9f42 50%, #fa9f42 100%)!important;
}
.selectTxt.selectLink>i {
  background: linear-gradient(45deg, #f3533a 0%, #f3533a 50%, #8ad879 50%, #8ad879 100%)!important;
}
.selectTxt.selectPage>i {
  background: linear-gradient(45deg, #f3533a 0%, #f3533a 50%, #5acfc9 50%, #5acfc9 100%)!important;
}
.selectLink.selectImg>i {
  background: linear-gradient(45deg, #8ad879 0%, #8ad879 50%, #fa9f42 50%, #fa9f42 100%)!important;
}
.selectPage.selectImg>i {
  background: linear-gradient(45deg, #5acfc9 0%, #5acfc9 50%, #fa9f42 50%, #fa9f42 100%)!important;
}
.selectPage.selectLink>i {
  background: linear-gradient(45deg, #5acfc9 0%, #5acfc9 50%, #8ad879 50%, #8ad879 100%)!important;
}

.selectTxt.selectImg.selectLink>i {
  background: linear-gradient(45deg, #f3533a 0%, #f3533a 33%, #fa9f42 33%, #fa9f42 66%, #8ad879 66%, #8ad879 100%)!important;
}
.selectTxt.selectImg.selectPage>i {
  background: linear-gradient(45deg, #f3533a 0%, #f3533a 33%, #fa9f42 33%, #fa9f42 66%, #5acfc9 66%, #5acfc9 100%)!important;
}
.selectPage.selectImg.selectLink>i {
  background: linear-gradient(45deg, #5acfc9 0%, #5acfc9 33%, #fa9f42 33%, #fa9f42 66%, #8ad879 66%, #8ad879 100%)!important;
}

.selectTxt.selectImg.selectLink.selectPage>i {
  background: linear-gradient(45deg, #f3533a 0%, #f3533a 25%, #fa9f42 25%, #fa9f42 50%, #8ad879 50%, #8ad879 75%, #5acfc9 75%, #5acfc9 100%)!important;
}
.unfold .MuiTabs-indicator,
.unfold .MuiTabs-scrollButtons {
  display: none;
}
.unfold .MuiTabs-flexContainer {
  flex-wrap: wrap;
}
.unfold .Mui-selected {
  background: aliceblue;
}
input.filterEngine {
  width: 115px;
  height: 30px;
  margin: 0 10px;
  padding: 0 20px;
  border-radius: 5px;
  font-size: large;
  border: none;
  box-shadow: 0px 3px 5px -1px rgb(0 0 0 / 20%), 0px 5px 8px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
  transition: width 0.3s ease;
}
input.filterEngine:focus,
input.filterEngine:focus-visible {
  border: none;
  outline: none;
  width: 90%;
}
input.filterEngine+svg {
  position: absolute;
  margin-left: -35px;
  color: #757575;
  font-size: 20px;
  height: 30px;
}
#root .site-icon.filter {
  background: aliceblue!important;
}
#dragTargetLine {
  height: 80px;
  width: 2px;
  background: #c0def9;
  position: absolute;
  display: none;
  pointer-events: none;
}
#dragTargetLine::after {
  content: "";
  width: 0;
  height: 0;
  display: block;
  margin-left: -7px;
  border-width: 8px;
  border-style: solid;
  border-color: #f3533a transparent transparent transparent;
}